/* 
    Document   : style
    Created on : 20 mars 2015, 21:03:22
    Author     : lutty
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

