<DOCTYPE html>
    <html>
	<head>
	</head>
	<body>
	   
Bonjour {{ user.username }}, 
Tu viens de t'inscrire donc la moindre des chose c'est que tu connaisse les règles

<b>Principe</b>

C'est une application de gestion de croissants.

<b>Fonctionnement</b>
L'application tire au sort une personne de l'équipe tous les jeudis matins. La personne sera prévenue par mail. Elle pourra accepter ou refuser de livrer les croissants grâce à un joker.

Tous le monde aura un joker par mois.

Il y aura possibilité de se piéger grâce a une adresse piège ( http://croissants.creativedata.fr/trap ). Il faudra se connecter à cette adresse depuis le poste de la victime (il faut aussi que la victime soit encore connecté sur gmail pour que ça marche vu que ça s’appuie sur l'authentification Google).

Chaque membre possède un coefficient qui représente la probabilité de se faire tirer au sort le jeudi (Quelqu'un coefficient 3 à trois fois plus de chance d'être tiré au sort que les autres). Le coefficient est augmenté par la page de piège et est réduit à chaque fois qu'on est tiré au sort.

On ne peut être tiré au sort qu'une fois toutes les trois semaines au maximum.

Personne ne sait qui est sélectionné mis à part celle-ci et tant que elle n'a pas accepté d'apporter les croissants. Si elle refuse personne ne le sait. Et un autre tirage est effectué.

Actuellement on voit les personnes qui ont utilisé un joker dans la liste des utilisateur, mais sur demande je pourrai le masquer.

Chaque semain tous le monde voit son coefficient monter de 1 points.

Adresse : http://croissants.creativedata.fr/ 


	</body>
    </html>