{% extends 'CreativeDataCroissantBundle::base.html.twig' %}

{% block title %}Statistique{% endblock %}

{% block body %}
<h3>Statistiques</h3>
<div id="graphtochose"   ></div>
<div id="graphchosen"   ></div>   

{% endblock %}